@import url(https://fonts.googleapis.com/css?family=Muli);

body {
  font-family: "Muli", sans-serif;
}

.page-header {
  background-color: #AAA;
  padding: 10px 0;
}

.main-head {
  font-size: 50px;
}

/** {
  border: 1px black solid;
}*/

textarea {
  resize: none;
}

div {
  margin-bottom: 10px;
}
